*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#header{
    position: fixed;
    top: 0
}

#pricing-container{
    direction: flex;
    flex-direction: row;
}

#pricing-container div{
    border: 1px solid black;
    padding:20px;
    margin: 20px;
    text-align: center;
}

.wrapper{
    margin:auto;
    padding:20px;
    width:50%
}

@media (min-width: 768px){
  #header-img{
    height: 100px
  }
}
